In [ ]:
#Project on Heart Disease

In [23]:
#Prav Cell Adding in librarys
library(tidyverse)
library(tidymodels)

In [18]:
#reading in data from database

original <- "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/long-beach-va.data"
url <- "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.va.data"
longbeach_data <- read_csv(url, col_names = FALSE)

#I just want to breifly see the data. 
longbeach_data |>
head(n=5)

Rows: 200 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (9): X4, X5, X6, X8, X9, X10, X11, X12, X13
dbl (5): X1, X2, X3, X7, X14

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  X1 X2 X3 X4  X5  X6 X7 X8  X9 X10 X11 X12 X13 X14
1 63 1  4  140 260 0  1  112 1  3   2   ?   ?   2
2 44 1  4  130 209 0  1  127 0  0   ?   ?   ?   0
3 60 1  4  132 218 0  1  140 1  1.5 3   ?   ?   2
4 55 1  4  142 228 0  1  149 1  2.5 1   ?   ?   1
5 66 1  3  110 213 1  2  99  1  1.3 2   ?   ?   0

In [19]:
#renaming data frame

longbeach_data2 <- rename(longbeach_data,
    age = X1, 
    sex = X2, 
    cp = X3,
    trestbps = X4, 
    chol = X5, 
    fbs = X6,
    restecg = X7,
    thalach = X8, 
    exang = X9, 
    oldpeak = X10,                        
    slope = X11, 
    ca = X12,
    thal = X13, 
    num = X14)

longbeach_data2 |>
head(n=5)

  age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal num
1 63  1   4  140      260  0   1       112     1     3       2     ?  ?    2
2 44  1   4  130      209  0   1       127     0     0       ?     ?  ?    0
3 60  1   4  132      218  0   1       140     1     1.5     3     ?  ?    2
4 55  1   4  142      228  0   1       149     1     2.5     1     ?  ?    1
5 66  1   3  110      213  1   2       99      1     1.3     2     ?  ?    0

In [33]:
#taking our most important factors
lonbeach_select <- longbeach_data2 |>
    select(age, sex, cp, chol, fbs, num) 
lonbeach_select |>
head(n=5)

  age sex cp chol fbs num
1 63  1   4  260  0   2
2 44  1   4  209  0   0
3 60  1   4  218  0   2
4 55  1   4  228  0   1
5 66  1   3  213  1   0

In [ ]:
#Kevin Cell

In [ ]:
#Avery Cell

In [ ]:
#Crystal