In [ ]:
#Project on Heart Disease

In [1]:
#Prav Cell Adding in librarys
library(tidyverse)
library(tidymodels)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.0     ✔ rsample      1.0.0
✔ dials        1.0.0     ✔ tune         1.0.0
✔ infer        1.0.2     ✔ workflows    1.0.0
✔ modeldata    1.0.0     ✔ workflowsets 1.0.0
✔ parsnip      1.0.0     ✔ yardstick    1.0.0
✔ recipes      1.0.1

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Learn how to get started at https://www.tidymodels.org/start/

In [3]:
#Prav

url <- "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/long-beach-va.data"

longbeach_data <- read_csv(url)
longbeach_data

Rows: 1999 Columns: 1
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): 1 0 63 1 1 1 1

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

     1 0 63 1 1 1 1
1    -9 4 140 0 260 0 0 0
2    0 -9 0 1 1 22 85 0
3    0 1 0 0 5 4.5 -9 5
4    112 62 160 90 140 80 1 0
5    3 2 20 19 -9 -9 0 -9
6    -9 -9 -9 -9 -9 -9 -9 2
7    27 85 2 1 1 2 1 1
8    1 1 1 2 1 1 1 1
9    1 1 0.7 5.5 name
10   2 0 44 1 1 1 1
11   -9 4 130 0 209 0 20 10
12   0 1 0 1 7 23 84 0
13   0 1 0 0 5 2.5 -9 2
14   127 73 150 80 130 70 0 0
15   0 -9 -9 -9 -9 -9 -9 -9
16   -9 -9 -9 -9 -9 -9 -9 7
17   31 84 0 1 1 1 1 1
18   1 1 1 1 1 1 1 1
19   1 1 0.5 -9. name
20   3 0 60 1 1 1 1
21   -9 4 132 1 218 1 40 40
22   0 -9 0 1 6 12 84 0
23   0 1 0 -9 5 6 -9 6
24   140 68 210 110 132 80 1 0
25   1.5 3 21 20 -9 -9 -9 -9
26   -9 -9 -9 -9 -9 -9 -9 7
27   30 84 2 1 1 1 1 2
28   1 2 1 2 1 1 1 1
29   7 2 0.52 4.1 name
30   4 0 55 1 1 1 1
⋮    ⋮
1970 202 0 55 1 1 1 1
1971 -9 4 122 1 223 1 20 40
1972 1 -9 0 1 5 2 86 0
1973 1 1 0 1 5 5.3 -9 5
1974 100 74 210 100 122 70 0 0
1975 0 -9 6 4 -9 -9 -9 0.39
1976 3 -9 -9 6 2 -9 -9 4
1977 17 86 2 1 2 1 1 1
1978 1 1 1 2 1 1 1 1
1979 1 1 0.69 5.6 name
1980 116 0 58 1 1 1 1
1981 -9 4 -9 0 385 0 10 20
1982 1 1 1 2 -9 -9 -9 -9
1983 -9 -9 -9 -9 -9 -9 -9 -9
1984 -9 -9 -9 -9 -9 -9 -9 -9
1985 -9 -9 -9 -9 -9 -9 -9 -9
1986 -9 -9 -9 -9 -9 -9 -9 2
1987 16 83 0 1 1 1 1 1
1988 1 1 1 1 1 1 1 1
1989 1 1 0.81 6 name
1990 160 0 62 1 1 0 0
1991 -9 2 120 1 254 0 0 0
1992 0 -9 0 2 1 24 83 0
1993 1 0 0 0 1 6.7 -9 7
1994 93 67 164 110 120 80 1 0
1995 0 -9 21 17 -9 -9 -9 -9
1996 -9 -9 -9 -9 -9 -9 -9 6
1997 20 83 1 1 1 1 1 1
1998 1 1 1 2 1 1 1 1
1999 1 1 -9 -9. name

In [ ]:
#Kevin Cell

In [ ]:
#Avery Cell

In [ ]:
#Crystal